{% extends 'student/student_layout.html' %}
{% load static %}
{% block content %}
    <style>
        .form-row {
            display: flex;
            align-items: center;
        }

        .form-row .form-group {
            margin-right: 1rem;
        }

        .form-row .form-group:last-child {
            margin-right: 0;
        }

        .form-row {
            margin-left: 200px; /* 向右移动具体的距离 */
        }
         #loadingMessage {
            display: none;
            margin-top: 10px;
            color: #ff1919;
             font-size: 18px;
             margin-left: 450px;
        }


    </style>
    <div class="content-page">
    <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
                <ol class="breadcrumb m-0">

                </ol>
            </div>
        </div>
    </div>
    <!-- end page title -->

    {#                <div class="row">#}
    {#                    <div class="col-12">#}
    <link rel="stylesheet" href="{% static 'css/entypo.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}?v=1.4.0">
    <link rel="stylesheet" href="{% static 'layuimini/css/public.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'layuimini/css/template.css' %}?v=1">
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'layui/notify/notify_stand.js' %}"></script>

    <script src="{% static 'js/main-gsap.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.minimal.min.js' %}"></script>
    <script src="{% static 'js/echarts.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>



    <div class="layui-card-body layui-row" id="historyview">
        <div class="layui-card-body layui-row">
            <div class="layui-col-xs12 layui-col-md12">
                <!-- 填充内容 -->
                <div class="layui-card">
                    <div class="layui layui-card-header">
                        <strong>数据表格</strong>
                    </div>
     <form method="POST" class="form-row" id="dataForm">
    <div class="form-group">
        <input type="text" id="occupation" name="occupation" class="form-control" placeholder="请输入职业" required>
    </div>
    <div class="form-group">
        <input type="number" id="startPage" name="startPage" class="form-control" placeholder="请输入初始页码" required>
    </div>
    <div class="form-group">
        <input type="number" id="endPage" name="endPage" class="form-control" placeholder="请输入截至页码" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">爬取</button>
    </div>
</form>

<!-- 提示信息 -->
<div id="loadingMessage">程序运行中,请耐心等待...</div>

<script>
document.getElementById('dataForm').addEventListener('submit', function(event) {
    // 显示提示信息
    document.getElementById('loadingMessage').style.display = 'block';

    // 这里可以添加其他逻辑，比如禁用表单元素、显示加载动画等
});
</script>
                    <div class="layui-card-body layui-text">
                        <table class="layui-hide"
                               id="jobTable"
                               lay-filter="jobtable"></table>
                        {% csrf_token %}
                    </div>
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn layui-btn-sm" lay-event="getCheckData">
                            获取选中行数据
                        </div>
                        <div class="layui-btn layui-btn-sm" lay-event="collectData">
                            <i class="layui-icon layui-icon-rate"></i>
                            收藏选中行数据
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: auto;">
                                <input type="text" class="layui-input" id="inputDemo"
                                       name="search" placeholder="请输入内容"
                                       style="margin-right: 5px;">
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-sm" lay-submit
                                        lay-filter="submitDemo">搜索
                                </button>
                            </div>
                        </div>
                    </script>
                    <script type="text/html" id="job-title-a">

                        {% verbatim %}
                        <a href="{{= d.detailUrl }}" target="_blank">{{= d.title }}</a>
                        {% endverbatim %}
                    </script>
                    <script type="text/html" id="job-company-a">
                        {% verbatim %}
                        <a href="{{= d.companyUrl }}" target="_blank">{{= d.companyTitle
                            }}</a>
                        {% endverbatim %}
                    </script>
                    <script type="text/html" id="barDemo">
                        <div class="layui-clear-space">
                            <a class="layui-btn layui-btn-normal layui-btn-xs"
                               lay-event="edit">
                                编辑
                                <i class="layui-icon layui-icon-edit"></i>
                            </a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs"
                               lay-event="delete">
                                删除
                                <i class="layui-icon layui-icon-delete"></i>
                            </a>
                        </div>
                    </script>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '/static/layui/notify/'
        }).use(['notify', 'form', 'table', 'dropdown'], function () {
            var table = layui.table;
            var dropdown = layui.dropdown;
            var form = layui.form;
            var $ = layui.$;
            var layer = layui.layer;

            // Initialize table
            function initTable(searchQuery) {
                table.render({
                    elem: '#jobTable',
                    url: '/api/dataview/',
                    method: 'GET',
                    where: {search: searchQuery},
                    parseData: function (res) {
                        return {
                            "code": res.code,
                            "msg": res.msg,
                            "count": res.data.all_count,
                            "data": res.data.job_list
                        }
                    },
                    toolbar: '#toolbarDemo',
                    defaultToolbar: ['filter', 'exports', 'print',],
                    height: 'full-35',
                    css: [
                        '.layui-table-tool-temp{padding-right:145px;}'
                    ].join(''),
                    cellMinWidth: 80,
                    totalRow: true,
                    page: true,
                    limit: 15,
                    limits: [20, 50, 100],
                    cols: [[
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', fixed: 'left', width: 80, title: 'ID', sort: true},
                        {field: 'title', width: 118, title: '岗位名字', templet: '#job-title-a'},
                        {field: 'address', width: 90, title: '岗位地点'},
                        {field: 'salary', width: 80, title: '薪水'},
                        {
                            field: 'salaryMonth', width: 80, title: '年薪', templet: function (d) {
                                var a = d.salaryMonth.replace('·', '');
                                return a;
                            }
                        },
                        {field: 'workTag', width: 120, title: '能力标签'},
                        {field: 'type', width: 90, title: '职位类型'},
                        {field: 'educational', width: 90, title: '学历要求'},
                        {field: 'workExperience', width: 100, title: '工作经验'},
                        {
                            field: 'pratice', width: 90, title: '是否实习', templet: function (d) {
                                return d.pratice ? '实习岗位' : '普通岗位';
                            }
                        },
                        {field: 'companyTags', minWidth: 260, title: '福利待遇'},
                        {
                            field: 'companyAvatar', width: 80, title: 'logo', templet: function (d) {
                                return `<img class="layui-nav-img" src="${d.companyAvatar}">`;
                            }
                        },
                        {field: 'companyTitle', width: 176, title: '公司名', templet: '#job-company-a'},
                        {field: 'companyStatus', width: 120, title: '融资'},
                        {field: 'companyPeople', width: 120, title: '人数'},
                        {fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#barDemo'}
                    ]]
                });
            }


            // 编辑删除
            table.on('tool(jobtable)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

                if (layEvent === 'delete') {
                    layer.confirm('确定删除此行数据？', function (index) {
                        $.ajax({
                            url: '/api/delete_job/',
                            type: 'post',
                            data: {
                                'jobId': data.id,
                                "csrfmiddlewaretoken": csrf_token
                            },
                            traditional: true,
                            dataType: 'json',
                            success: function (res) {
                                if (res.code != 0) {
                                    notify.warning(res.msg);
                                } else {
                                    notify.success(res.msg);
                                    obj.del(); // Remove the row from the table
                                }
                            },
                            error: function () {
                                notify.error('删除失败');
                            }
                        });
                        layer.close(index);
                    });
                } else if (layEvent === 'edit') {
                    // Open an editing form or dialog
                    layer.open({
                        type: 1,
                        title: '编辑职位信息',
                        area: ['350px', '500px'],
                        content: `
            <form class="layui-form" id="editForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">岗位</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="${data.title}" required lay-verify="required" placeholder="请输入岗位名字" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">地点</label>
                    <div class="layui-input-block">
                        <input type="text" id="address" name="address" value="${data.address}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>
<div class="layui-form-item">
                    <label class="layui-form-label">学历</label>
                    <div class="layui-input-block">
                        <input type="text" id="educational" name="educational" value="${data.educational}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>
             <div class="layui-form-item">
                    <label class="layui-form-label">经验</label>
                    <div class="layui-input-block">
                        <input type="text" id="workExperience" name="workExperience" value="${data.workExperience}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>
             <div class="layui-form-item">
                    <label class="layui-form-label">公司</label>
                    <div class="layui-input-block">
                        <input type="text" id="companyTitle" name="companyTitle" value="${data.companyTitle}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>
             <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <input type="text" id="companyNature" name="companyNature" value="${data.companyNature}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>
    <div class="layui-form-item">
                    <label class="layui-form-label">规模</label>
                    <div class="layui-input-block">
                        <input type="text" id="companyPeople" name="companyPeople" value="${data.companyPeople}" required lay-verify="required" placeholder="请输入岗位地点" class="layui-input">
                    </div>
                </div>



                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="editForm">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
            `,
                        success: function (layero, index) {
                            // Form submission handler
                            form.on('submit(editForm)', function (formData) {
                                $.ajax({
                                    url: '/api/edit_job/',
                                    type: 'post',
                                    data: {
                                        'jobId': data.id,
                                        ...formData.field,
                                        "csrfmiddlewaretoken": csrf_token
                                    },
                                    traditional: true,
                                    dataType: 'json',
                                    success: function (res) {
                                        if (res.code != 0) {
                                            notify.warning(res.msg);
                                        } else {
                                            notify.success(res.msg);
                                            layer.close(index); // Close the form layer
                                            console.log('Attempting to reload the table');
                                            table.reload('jobTable', { // Ensure this ID matches your table's ID
                                                page: {
                                                    curr: 1 // Reload to the first page
                                                }
                                            });
                                        }
                                    },
                                    error: function () {
                                        notify.error('编辑失败');
                                    }
                                });
                                return false; // Prevent form submission
                            });
                        }
                    });
                }
            });

            // 收藏
            table.on('toolbar(jobtable)', function (obj) {
                var id = obj.config.id;
                var checkStatus = table.checkStatus(id);
                var othis = $(this);
                var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(layui.util.escape(JSON.stringify(data)));
                        break;
                    case 'collectData':
                        var data = checkStatus.data;
                        var ids = data.map(function (o) {
                            $.ajax({
                                url: '/api/add_history/',
                                type: 'post',
                                data: {
                                    'jobId': o.id,
                                    "csrfmiddlewaretoken": csrf_token
                                },
                                traditional: true,
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code != 0) {
                                        notify.warning(res.msg);
                                    } else {
                                        notify.success(res.msg);
                                    }
                                },
                                error: function () {
                                    notify.error('收藏失败');
                                }
                            });
                            return {'jobId': o.id};
                        });
                        console.log(ids);
                        break;
                }
            });

            // 初始化表格
            initTable('');

            // 搜索按钮点击事件
            form.on('submit(submitDemo)', function (data) {
                var searchQuery = data.field.search; // 获取搜索框的值
                initTable(searchQuery); // 重新初始化表格数据
                return false; // 阻止表单提交
            });


        });
    </script>

    </div>
    </div>
    </div>

{% endblock %}
